.cont-btn-youtube {
    text-align: center;
    // margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;

    a {
        border-radius: 2px;
        border: 3px solid $color_verde_claro_logo;
        color: $color_verde_claro_logo;
        padding: 0.5em 1em;
        font-size: 1.5em;
        font-weight: bold;
        @extend .z-depth-1;
        @extend .hoverable;

        &:hover, &:focus {
            text-decoration: none;
        }

        i {
            color: #E62117;
            margin-right: 0.5em;
        }
    }
}

footer {
    background: $color_verde_claro_logo;
    color: white;
    padding: 20px 0px;
    span {
        margin: 0 10px;
        display: inline-block;
        i {
            margin-right: 0.5em;
            display: inline-block;
            color: inherit;

        }
    }
}