.seccion {

    /** seccion de contacto */
    &--contacto {
        text-align: center;

        p {
            font-weight: bold;
            font-style: italic;
            margin-top: 15px;
            margin-bottom: 25px;
            color: $color_verde_claro_logo;
        }


        .formulario_contacto {
            background: darken(white, 2%);
            border-radius: 4px;
            padding: 10px 15px;
            @extend .z-depth-1;


        }

        .mensaje_facebook {
            background: darken(white, 2%);
            padding: 10px 0px;
            @extend .z-depth-1;


        }
    }
}