.owl-carousel {
    .item {
        position: relative;
        &__caption {
            position: absolute;
            width: 100%;
            height: 100%;
            background:  rgba(black, .3);
            display: flex;
            align-items: center;
            text-align: left;
            text-align: center;
            @media (min-width: $grid-float-breakpoint) {
              text-align: left;
            }
            .row {
                width: 100%;
                margin: 0 auto;
            }

            h2 {
                color: white;
                text-shadow: 2px 2px 2px rgba(black, .5);
                margin-top: 0;
                margin-bottom: 15px;
                padding: 10px;
                text-align: center;
                font-size: 18px;
                @media (min-width: $grid-float-breakpoint) {
                  font-size: 24px;
                  background: $color_verde_oscuro_logo;
                  border-radius: 4px;
                }
            }
            p {
                font-family: 'Vollkorn';
                color: white;
                text-shadow: 2px 2px 2px rgba(black, .5);
                display: none;
                @media (min-width: $grid-float-breakpoint) {
                  display: block;
                }
            }
        }
        img {
        }
    }
}