.slogan {

    &__frase {
        width: 100%;
        min-height: 170px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        background: rgba(black, .3);
        @media (min-width: $grid-float-breakpoint) {
            min-height: 340px;
        }
        h3 {
            font-family: 'Vollkorn';
            font-weight: normal;
            font-size: 28px;
            letter-spacing: 2px;
            text-align: center;
            color: white;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-style: italic;
            text-shadow: 2px 2px 2px rgba(black, .3);
            @media (min-width: $grid-float-breakpoint) {
                font-size: 48px;
            }
        }
    }

    &--empresa {
        background: url("../img/PROOLIVO_consejo_directivo_1.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center 150%;

        @media (min-width: 1370px) {
            background-position: center 200%;
        }
    }
    &--informacion_sector {
        background: url("../img/cosecha.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center 50%;

        @media (min-width: 1370px) {
            background-position: center 100%;
        }
    }
    &--localizacion {
        background: url("../img/INFORMACION_localizacion.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center 50%;

        @media (min-width: 1370px) {
            background-position: center 100%;
        }
    }
    &--mision_vision {
        background: url("../img/PROOLIVO_mision_1.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center 120%;

        @media (min-width: 1370px) {
            background-position: center 150%;
        }
    }
    &--valores {
        background: url("../img/PROOLIVO_valores_1.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center 100%;

        @media (min-width: 1370px) {
            background-position: center 150%;
        }
    }

    &--consejo_directivo {
        background: url("../img/PROOLIVO_consejo_directivo_2.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center 100%;

        @media (min-width: 1370px) {
            background-position: center 150%;
        }
    }

    &--noticias {
        background: url("../img/NOTICIAS_1.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center 50%;

        @media (min-width: 1370px) {
            background-position: center 150%;
        }
    }

    &--asociados {
        background: url("../img/ASOCIADOS_2.png");
        background-size: cover;
        background-attachment: fixed;
        background-position: center 50%;

        @media (min-width: 1370px) {
            background-position: center 70%;
        }
    }
}