.tarjeta {
    margin-top: 15px;
    position: relative;
    img {
        width: 100%;
    }
    &__titulo {
        background: rgba(black, .3);
        position: absolute;
        bottom: 0px;
        text-align: center;
        padding: 0px 5px;
        width: 100%;
        h4 {
            color: white;
            font-family: 'Vollkorn';
            font-size: 16px;
            line-height: 1.3;
        }
    }
    &__descripcion {
        background: $color_verde_claro_logo;
        padding: 10px;
        p {
            font-size: 13px;
            margin: 0;
            color: white;
            text-align: justify;
            text-shadow: 2px 2px 2px rgba(black, .3);
        }

        &.tarjeta--eventos {
            background: $color_verde_oscuro_logo;
        }
    }

    &--asociado {
        background: $color_gris_claro_logo;
        border-radius: 4px;
        padding: 10px;
        margin-top: 25px;
        @extend .hoverable;
        .row {
            display: flex;
            align-items: center;
            p {
                line-height: 1.1;
                margin: 6px 0;
            }
        }

        &__label {
            padding-right: 0;
            p {
                // @extend .text-right;
            }
        }
    }

    &--noticia {
        background: $color_gris_claro_logo;
        border-radius: 4px;
        // padding: 10px;
        margin: 15px;
        margin-top: 0px;
        margin-bottom: 30px;
        overflow: hidden;
        @extend .hoverable;
        display: flex;
        align-items: center;


        .noticia_img {
            padding: 0;
            display: none;
            @media (min-width: $grid-float-breakpoint) {
                display: block;
            }
            img {
                max-width: 100%;
            }

            &__movil {
                width: 100%;
                margin: 15px 0;
                @media (min-width: $grid-float-breakpoint) {
                    display: none;
                }
                img {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
        .noticia_resumen {
            width: 100%;
            margin-left: 10px;
            margin-right: 10px;
            padding: 15px;
            h4 {
            }
            span {
                color: lighten($gray-dark, 40%);
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 8px;
                display: flex;
                align-items: center;
                i {
                    top:0;
                    margin-right: 5px;
                }
            }
            p {
                text-align: justify;
            }
        }
    }

    &--noticia_detalle {
        margin: 0;
        overflow: hidden;
        background: white;
        margin-bottom: 30px;
        @extend .z-depth-1;
        @media (min-width: $grid-float-breakpoint) {
            margin-bottom: 0;
        }
        >img {
            width: 100%;
        }
        .titulo_fecha {
            background: $color_gris_claro_logo;
            padding: 15px 0;
            h1,h2,h3,h4,h5,h6 {
                margin: 0;
            }
        }
        .contenido {
            text-align: justify;
            padding: 15px;
            img {
                width: auto;
                max-width: 100%;
            }
        }
        .fb-comments {
            width: 100%;
            padding: 0 15px;
            span {
                width: 100% !important;
                iframe {
                    width: 100% !important;
                }
            }
        }
    }

}

/** contenedores de tarjetas */
#seccionAsociadosFiltro {
    display: flex;
    flex-wrap: wrap;

    .alert {
        width: 100%;
        margin-top: 35px;
    }
}