footer {
    background: $color_verde_claro_logo;
    color: white;
    padding: 20px 0px;
    span {
        margin: 0 10px;
        display: inline-block;
        i {
            margin-right: 3px;
            display: inline-block;
            color: white;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            &:before {
                position: relative;
                top: 2px;
                right: 2px;
            }
        }
    }
}