body {
    background: url("../img/fondo_izquierdo.png") left no-repeat,
                url("../img/fondo_derecho.png") right no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/** seccion */
.seccion {
    padding-top: 10px;
    padding-bottom: 50px;
    h2 {
        text-align: center;
        margin-bottom: 40px;
        @media (min-width: $grid-float-breakpoint) {
            font-size: 48px;
        }
    }
    img {
        margin: 0 auto;
    }

    /** seccion alterna, con fondo verde oscuro en los titulos */
    &--alterno {
        h2 {
            color: $color_verde_oscuro_logo;
        }
    }
}

/** z-levels */
.z-depth-0 {
  box-shadow: none !important;
}
.z-depth-1{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.z-depth-1-half{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.z-depth-2{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-3{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.z-depth-4{
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z-depth-5{
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable {
  transition: box-shadow .25s;
  box-shadow: 0;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}