.headercontacto {
    padding: 15px;
    // background: white;

    // logo
    img {
        height: 100%;
        width: auto;
        margin: 0 auto;
        margin-bottom: 15px;
        display: block;
        @media (min-width: $grid-float-breakpoint) {
            margin-bottom: 0;
            margin-left: 0;
        }
    }

    // span's de contaco
    &__datos {
        display: block;
        text-align: center;
        margin-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
        @media (min-width: $grid-float-breakpoint) {
            text-align: right;
        }

        span {
            margin-left: 20px;
            display: inline-block;
            i {
                text-align: center !important;
                margin-right: 3px;
                display: inline-block;
                color: white;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                &:before {
                    position: relative;
                    top: 3px;
                }
            }
            &:nth-child(1) {
                i {
                    background: #A1AA2D;
                }
            }
            &:nth-child(2) {
                i {
                    background: #80DDFF;
                }
            }
            &:nth-child(3) {
                i {
                    background: #FE6353;
                }
            }
        }
    }

    // boton acceso para socios
    &__accesoparasocios {
        margin: 0 auto;
        display: block;

        @media (min-width: $grid-float-breakpoint) {
            margin-right: 0;
        }
    }


}