.slogan {
    background: url("../img/fondo_slogan_1.jpg");
    background-size: cover;
    background-position: center 25%;
    background-attachment: fixed;

    &__frase {
        width: 100%;
        min-height: 170px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        background: rgba(black, .3);
        @media (min-width: $grid-float-breakpoint) {
            min-height: 340px;
        }
        h3 {
            font-family: 'Vollkorn';
            font-weight: normal;
            font-size: 28px;
            letter-spacing: 2px;
            text-align: center;
            color: white;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-style: italic;
            text-shadow: 2px 2px 2px rgba(black, .3);
            @media (min-width: $grid-float-breakpoint) {
                font-size: 48px;
            }
        }
    }
}