.tarjeta {
    margin-top: 15px;
    position: relative;
    img {
        width: 100%;
    }
    &__titulo {
        background: rgba(black, .3);
        position: absolute;
        bottom: 0px;
        text-align: center;
        padding: 0px 5px;
        h4 {
            color: white;
            font-family: 'Vollkorn';
            font-size: 16px;
            line-height: 1.3;
        }
    }
    &__descripcion {
        background: $color_verde_claro_logo;
        padding: 10px;
        p {
            font-size: 13px;
            margin: 0;
            color: white;
            text-align: justify;
            text-shadow: 2px 2px 2px rgba(black, .3);
        }

        &.tarjeta--eventos {
            background: $color_verde_oscuro_logo;
        }
    }

    &--asociado {
        background: $color_gris_claro_logo;
        border-radius: 4px;
        padding: 10px;
        margin-top: 25px;
        @extend .hoverable;
        .row {
            display: flex;
            align-items: center;
            p {
                line-height: 1.1;
                margin: 6px;
            }
        }
    }

    &--noticia {
        background: $color_gris_claro_logo;
        border-radius: 4px;
        // padding: 10px;
        margin-top: 25px;
        overflow: hidden;
        @extend .hoverable;
        display: flex;
        align-items: center;

        .noticia_img {
            padding: 0;
            img {
                max-width: 100%;
            }
        }
        .noticia_resumen {
            margin-left: 10px;
            margin-right: 10px;
            h4 {
            }
            span {
                color: lighten($gray-dark, 40%);
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 8px;
                display: flex;
                align-items: center;
                i {
                    top:0;
                    margin-right: 5px;
                }
            }
            p {
                text-align: justify;
            }
        }
    }

}

