.gallery-container {
	margin-bottom: 20px;
}

.gallery-item {
	border-radius: 6px;
	box-shadow: 0 3px 5px 2px rgba(0,0,0,0.5);
	background: #fff;
	display: inline-block;
	padding: 4px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}

.gallery-add {
	cursor: pointer;
	text-align: center;
	color: #888;
	transition: color .4s;
	-moz-transition: color .4s;
	-webkit-transition: color .4s;
	-ms-transition: color .4s;
}

.gallery-browser {
	overflow: hidden;
	position: relative;
	text-align: center;
}

.gallery-browser img {
	border-radius: 6px;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	margin: 0;
}

.gallery-browser input[type="file"] {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
}

.gallery-browser .gallery-close-img {
	background: #000;
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	position: absolute;
	right: 0;
	top: 0;
	color: #fff;
	z-index: 1;
	border-radius: 20px;
	opacity: 0;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	font-size: 1.5em;
	transition: opacity .2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-ms-transition: opacity .2s;
}

.gallery-browser:hover .gallery-close-img {
	opacity: 1;
}

.gallery-container > div > .gallery-browser:last-of-type {
	display: none;
}

.gallery-add:hover {
	color: #000;
}

.gallery-container input[type="file"] {
	display: none;
}

.gallery-add > div {
	font-weight: bold;
	margin-top: -25px;
	position: relative;
	top: 50%;
}

.gallery-add > div > span {
	display: block;
}

.gallery-add > div > span:first-child {
	font-size: 5em;
	padding-bottom: 20px;
}

.gallery-portrait .gallery-item {
	height: 255px;
	width: 180px;
}

.gallery-landscape .gallery-item {
	width: 255px;
	height: 180px;
}

.gallery-portrait .gallery-browser {
	line-height: 255px;
}

.gallery-landscape .gallery-browser {
	line-height: 180px;
}