/*
 * Skin: nck
 * ----------
 */
.skin-proolivo .main-header .navbar {
  background-color: #b73336;
}
.skin-proolivo .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-proolivo .main-header .navbar .nav > li > a:hover,
.skin-proolivo .main-header .navbar .nav > li > a:active,
.skin-proolivo .main-header .navbar .nav > li > a:focus,
.skin-proolivo .main-header .navbar .nav .open > a,
.skin-proolivo .main-header .navbar .nav .open > a:hover,
.skin-proolivo .main-header .navbar .nav .open > a:focus,
.skin-proolivo .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
.skin-proolivo .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-proolivo .main-header .navbar .sidebar-toggle:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}
.skin-proolivo .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-proolivo .main-header .navbar .sidebar-toggle:hover {
  background-color: #ed3237;
}
@media (max-width: 767px) {
  .skin-proolivo .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-proolivo .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-proolivo .main-header .navbar .dropdown-menu li a:hover {
    background: #ed3237;
  }
}
.skin-proolivo .main-header .logo {
  background-color: #ffffff;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-proolivo .main-header .logo:hover {
  background-color: #ecf0f5;
}
.skin-proolivo .main-header li.user-header {
  background-color: #ed3237;
}
.skin-proolivo .content-header {
  background: transparent;
}
.skin-proolivo .wrapper,
.skin-proolivo .main-sidebar,
.skin-proolivo .left-side {
  background-color: #b73336; /* medio #1e282c  oscuro #868e1f*/
}
.skin-proolivo .user-panel > .info,
.skin-proolivo .user-panel > .info > a {
  color: #fff;
}
.skin-proolivo .sidebar-menu > li.header {
  color: #ffffff;
  background: #b73336;
}
.skin-proolivo .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-proolivo .sidebar-menu > li:hover > a,
.skin-proolivo .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #b73334;
  border-left-color: #ed3237;
}
.skin-proolivo .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #b73336;
}
.skin-proolivo .sidebar a {
  color:#ffffff ;
}
.skin-proolivo .sidebar a:hover {
  text-decoration: none;
}
.skin-proolivo .treeview-menu > li > a {
  color: #ffffff;
}
.skin-proolivo .treeview-menu > li.active > a,
.skin-proolivo .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-proolivo .sidebar-form {
  border-radius: 3px;
  border: 1px solid #ed3237;
  margin: 10px 10px;
}
.skin-proolivo .sidebar-form input[type="text"],
.skin-proolivo .sidebar-form .btn {
  box-shadow: none;
  background-color: #ed3237;
  border: 1px solid transparent;
  height: 35px;
}
.skin-proolivo .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-proolivo .sidebar-form input[type="text"]:focus,
.skin-proolivo .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-proolivo .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-proolivo .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-proolivo.layout-top-nav .main-header > .logo {
  background-color: #ed3237;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-proolivo.layout-top-nav .main-header > .logo:hover {
  background-color: #b73336;
  background-color: #b73336;
}

.skin-proolivo img {
  /*background-color: #ffffff;*/
}
/*galeria*/
.gallery-container {
	margin-bottom: 20px;
}
.gallery-item {
	border-radius: 6px;
	box-shadow: 0 3px 5px 2px rgba(0,0,0,0.5);
	background: #fff;
	display: inline-block;
	padding: 4px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}



.gallery-add {
	cursor: pointer;
	text-align: center;
	color: #888;
	transition: color .4s;
	-moz-transition: color .4s;

	-webkit-transition: color .4s;

	-ms-transition: color .4s;

}



.gallery-browser {
	overflow: hidden;
	position: relative;
	text-align: center;
}



.gallery-browser img {

	border-radius: 6px;

	max-height: 100%;

	max-width: 100%;

	vertical-align: middle;

	margin: 0;

}



.gallery-browser input[type="file"] {

	/*display: none;*/

	position: absolute;

	top: 0;

	left: 0;

}



.gallery-browser .gallery-close-img {

	background: #000;

	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);

	position: absolute;

	right: 0;

	top: 0;

	color: #fff;

	z-index: 1;

	border-radius: 20px;

	opacity: 0;

	height: 25px;

	width: 25px;

	line-height: 25px;

	text-align: center;

	cursor: pointer;

	font-size: 1.5em;

	transition: opacity .2s;

	-moz-transition: opacity .2s;

	-webkit-transition: opacity .2s;

	-ms-transition: opacity .2s;

}



.gallery-browser:hover .gallery-close-img {

	opacity: 1;

}



.gallery-container > div > .gallery-browser:last-of-type {

	display: none;

}



.gallery-add:hover {

	color: #000;

}



.gallery-container input[type="file"] {

	display: none;

}



.gallery-add > div {

	font-weight: bold;

	margin-top: -25px;

	position: relative;

	top: 50%;

}



.gallery-add > div > span {

	display: block;

}



.gallery-add > div > span:first-child {

	font-size: 5em;

	padding-bottom: 20px;

}



.gallery-portrait .gallery-item {

	height: 255px;

	width: 180px;

}



.gallery-landscape .gallery-item {

	width: 255px;

	height: 180px;

}



.gallery-portrait .gallery-browser {

	line-height: 255px;

}



.gallery-landscape .gallery-browser {

	line-height: 180px;

}

